<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}" >Home</a></li>
                

                <li><a href="{% url 'upload_image' %}">Image</a></li>
                <li><a href="{% url 'upload_video' %}" >Video</a></li>
                <li><a href="{% url 'live_video' %}">Live</a></li>

                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class="copyright">&copy; 2024 ASL Sign Language Translation. All rights reserved.</p>
    </footer>
</body>
</html>