{% extends "main/base.html" %}
{% load static %}

{% block title %}Upload Image - ASL Sign Language Translation{% endblock %}

{% block content %}
<section class="upload-section" style="min-height: 70vh;">
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Upload Image for ASL Translation</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="imageUploadForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column align-items-center">
                            <div id="imagePreview" class="preview-container mb-3">
                                {% if form.instance.image %}
                                <img src="{{ form.instance.image.url }}" class="img-fluid" alt="Uploaded Image">
                                {% else %}
                                <img src="{% static 'images\ASL_LETTERS.png' %}" class="img-fluid" alt="Placeholder Image">
                                {% endif %}
                            </div>
                            <input type="file" name="image" id="imageInput" accept="image/*" required class="d-none">
                            <label for="imageInput" class="btn btn-secondary">Choose an image</label>
                        </div>
                        <div class="col-md-6 d-flex flex-column align-items-center">
                            <button type="submit" class="btn btn-primary mb-3">Upload and Translate</button>
                            <pre id="predictions" class="bg-light p-3 rounded" style="min-height: 100px; max-height: 150px; overflow-y: auto; width: 100%;">
                                {% if label %}
                                Predicted sign: {{ label }}
                                {% else %}
                                Waiting for prediction...
                                {% endif %}
                            </pre>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
document.getElementById('imageInput').onchange = function(event) {
    var reader = new FileReader();
    reader.onload = function(e) {
        document.getElementById('imagePreview').innerHTML = '<img src="' + e.target.result + '" class="img-fluid" />';
    }
    reader.readAsDataURL(event.target.files[0]);
};
</script>
{% endblock %}
