{% extends "main/base.html" %}
{% load static %}
{% block title %}Home - ASL Sign Language Translation{% endblock %}
{% block content %}
<section id="home" class="section-padding">
    <div class="container">
        <h1 class="heading-primary">Welcome to ASL Sign Language Translation</h1>
        <p class="lead">Bridging the gap between spoken language and American Sign Language.</p>
    </div>
</section>
<section id="about-asl" class="section-padding">
    <div class="container">
        <h2 class="heading-secondary">About ASL</h2>
        <p>American Sign Language (ASL) is a complete, natural language that serves as the predominant sign language of Deaf communities in the United States and most of Anglophone Canada. ASL is a visual language. With signing, the brain processes linguistic information through the eyes. The shape, placement, and movement of the hands, as well as facial expressions and body movements, all play important parts in conveying information.</p>
    </div>
</section>
<section id="asl-images" class="section-padding">
    <div class="container">
        <h2 class="heading-secondary">ASL Sign Language Examples</h2>
        <div class="image-gallery">
            <img src="{% static 'main/images/ASL_LETTERS.png' %}" alt="ASL letter sign ">
            <img src="{% static 'main/images/basicasl.jpg' %}" alt="ASL sign for Thank You">
            <!-- <img src="{% static 'main/images/asl_love.jpg' %}" alt="ASL sign for Love">
            <img src="{% static 'main/images/asl_friend.jpg' %}" alt="ASL sign for Friend"> -->
        </div>
    </div>
</section>
<section id="translation-tools" class="section-padding">
    <div class="container">
        <h2 class="heading-secondary">Translation Tools</h2>
        <p>Our ASL translation tools leverage advanced computer vision and machine learning techniques to recognize and translate ASL gestures into spoken and written language in real-time. These tools are designed to be accurate, efficient, and easy to use, making communication more accessible for everyone.</p>
    </div>
</section>
{% endblock %}