{% extends "main/base.html" %}
{% load static %}

{% block title %}Login - ASL Sign Language Translation{% endblock %}


{% block content %}
<div class="split-screen">
    <div class="left-side">
        <video autoplay loop muted  width="50%" height="auto" >
            <source src="{% static 'main/videos/Hello.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
            </video>
    </div>
    <div class="right-side">
        <div class="login-form">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="download-btn">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}